body {
    background-color: rgb(218, 201, 174);
    font: roboto;
    font-style: normal;
}
img {
    width: 120%;
    height: 120%;
    margin:0px;
    background-color: blanchedalmond;
    padding: auto;
    float: right;
}
.hero-mage {
    max-width: 200pxs;
}
