body {
    background-color: rgb(218, 201, 174);
    font: roboto;
    font-style: normal;
}
img {
    width: 100%;
    padding-top: 0%;
    
}
h1{
    text-align: center;
    font-size: 500%;
    color: rgb(100, 66, 66);
}